body {
  font-family: arial, sans-serif;
  background-color: rgb(9, 161, 237);
}

h1 {
  color: rgb(5, 75, 173);
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
  text-align: center;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #0171c4;
  font-size: 17px;
  font-weight: 100;
  line-height: 19px;
  width: auto;
  text-align: center;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 10px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid rgb(26, 178, 168);
  border-radius: 20px;
  background-color: rgb(112, 244, 240);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 75px;
  width: 75px;
}

.weather-temperature strong {
  color: rgb(5, 75, 173);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.open-source-code,
.hosted {
  color: blue;
}

.open-source-code:hover,
.hosted:hover {
  color: rgb(112, 244, 240);
}

.submit {
  background-color: rgb(181, 242, 240);
  border: rgb(26, 178, 168) solid 2px;
  border-radius: 50px;
  font-weight: 600;
  color: rgb(5, 75, 173);
  padding: 5px 28px;
}

.current-location {
  background-color: rgb(181, 242, 240);
  border: rgb(26, 178, 168) solid 2px;
  border-radius: 50px;
  font-weight: 600;
  color: rgb(5, 75, 173);
  padding: 5px 28px;
}

.submit:hover,
.current-location:hover {
  background-color: rgb(112, 244, 240);
  opacity: 0.7;
}

.weather-forecast-date {
  font-size: 16px;
  color: rgb(23, 122, 120);
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.weather-forecast {
  text-align: center;
}

small {
  position: absolute;
  margin: 30px 0;
}
